PlywoodCore/Schemas/LogEntry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="logEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="groupKey" type="xs:string" />
        <xs:element name="targetKey" type="xs:string" />
        <xs:element name="instanceKey" type="xs:string" />
        <xs:element name="logContent" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="timestamp" type="xs:dateTime" use="required" />
      <xs:attribute name="status" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>